@import "reset.css";
@import "variable.css";
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

*{
    box-sizing: border-box;
}


body{
    font-family: 'Stylish', sans-serif;
    font-size: 20px;
    background-color:#34495e;
    width: 100vw;
    height: 100vh;
    color: white;
    
}

.body-container{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* bg.js */
.bgImage{
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}


/* header */
header{
    display:flex;
    margin: 10px;
    margin-bottom: none;
    justify-content: space-between;
}

.weather{
    padding: 20px;
    border-radius: 20px;
    background-color:var(--indigo);
}

.daynight{
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid var(--indigo);
    color: white;
    background-color:var(--indigo);
    cursor: pointer;
}



/* daynight.js */
.bg-dark{
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
}


/* main */
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 100px 100px;
    background-color: rgba(52, 73, 94,0.8);
    border-radius: 20px;
    font-size: 30px;
}




form input{
    width: 95%;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
}


/* greetings */
.form,
.greetings{
    display: none;
}

.showing{
    display:block;
    text-align: center;
}

.clock{
    font-size: 50px;
}

.greetings{
    margin: 30px 0 0 0;
}

.toDoList{
    margin: 10px 0px;
}

.toDoList li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 20px;
}

.toDoList button{
    padding: 5px;
    border-radius: 50%;
    margin-right:10px;
    background-color: white;
    border: 1px solid white;

}

@media(max-width:500px){
    body{
        font-size: 17px;
    }
    .body-container main{
        padding: 30px;
        font-size: 20px;
    }
    .clock{
        font-size: 30px;
    }
}